<%- include('layout/head.ejs'); %>
    <%- include('layout/practiceheader.ejs', {iconClass: 'bi bi-unlock', headerTitle: 'Playground' }) %>
        <!-- Content Section -->
        <main id="accordion-page" class="container message">
            <!-- pladce holder for message -->
            <div class="accordion-topic"><label for="topic" id="topicid">Choose The topic</label></div>
            <!-- create four button to show the lessons -->
            <div class="row">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-evenly">
                       
                    </div>
                </div>
            </div>
            <div class="accordion mt-4">
                <% for (let i=1; i <=10; i++) { %>
                    <div class="accordion-item" id="accord-item-<%= i %>">
                        <h2 class="accordion-header" id="heading<%= i %>">
                            <button id="q-<%= i %>" class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse<%= i %>" aria-expanded="true"
                                aria-controls="collapse<%= i %>">
                                <!-- placeholder for question -->
                                Questions
                            </button>
                        </h2>
                        <div id="collapse<%= i %>" class="accordion-collapse collapse"
                            aria-labelledby="heading<%= i %>">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option1">
                                        <label for="q-<%= i %>-option1">words<!-- placeholder --></label>
                                    </li>
                                    <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option2">
                                        <label for="q-<%= i %>-option2">words<!-- placeholder --></label>
                                    </li>
                                    <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option3">
                                        <label for="q-<%= i %>-option3">words<!-- placeholder --></label>
                                    </li>
                                    <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option4">
                                        <label for="q-<%= i %>-option4">words<!-- placeholder --></label>
                                    </li>
                                    <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option5">
                                        <label for="q-<%= i %>-option5">words<!-- placeholder --></label>
                                    </li>
                                </ul>
                                <button id="answer-q-<%= i %>-btn" class="btn btn-primary mt-3"
                                    onclick="checkAnswer('q-<%= i %>')">Answer</button>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </main>
        <br><div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="/dashboard" class="btn btn-light">Go back to dashboard</a>
        </div><hr>       
        <%- include('layout/footer.ejs'); %>
            <!-- Link to JavaScript file -->
            <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
            <script src="../javascripts/topicScript.js" type="text/javascript"></script>
            <script src="../javascripts/practiceScript.js" type="text/javascript"></script>
            <!-- <script src="../javascripts/register-service-worker.js" type="text/javascript"></script> -->
            </body>

            </html>