<%- include('layout/head.ejs'); %>
    <%- include('layout/practiceheader.ejs', {iconClass: 'bi bi-unlock' , headerTitle: 'Take the test' }) %>
        <body>
            <!-- Main content -->
            <main id="accordion-page" class="container message">
                <div class="accordion-topic" id="testPage"><label for="topic" id="topicid">Choose The topic</label>
                </div>
                <!-- pladce holder for message -->
                <div class="row">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-evenly">
                            <!-- create two button for generating questin and taking test! -->
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Timer display -->
                <div class="mb-4">
                   <p>Welcome <%= username %>! Generate questions first, then take a test! Time remaining: <span id="timer-1" class="clock">00:00</span> seconds</p>
                </div>


                <div class="accordion mt-4">
                    <% for (let i=1; i <=20; i++) { %>
                        <div class="accordion-item" id="accord-item-<%= i %>">
                            <h2 class="accordion-header" id="heading<%= i %>">
                                <button id="q-<%= i %>" class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse<%= i %>" aria-expanded="true"
                                    aria-controls="collapse<%= i %>">
                                    <!-- placeholder for question -->
                                    Questions
                                </button>
                            </h2>
                            <div id="collapse<%= i %>" class="accordion-collapse collapse"
                                aria-labelledby="heading<%= i %>">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option1">
                                            <label for="q-<%= i %>-option1">words<!-- placeholder --></label>
                                        </li>
                                        <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option2">
                                            <label for="q-<%= i %>-option2">words<!-- placeholder --></label>
                                        </li>
                                        <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option3">
                                            <label for="q-<%= i %>-option3">words<!-- placeholder --></label>
                                        </li>
                                        <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option4">
                                            <label for="q-<%= i %>-option4">words<!-- placeholder --></label>
                                        </li>
                                        <li class="list-group-item"><input type="checkbox" id="q-<%= i %>-option5">
                                            <label for="q-<%= i %>-option5">words<!-- placeholder --></label>
                                        </li>
                                        <!-- Add more options as needed -->
                                    </ul>
                                    <button id="answer-q-<%= i %>-btn" class="btn btn-outline-secondary mt-3 answer-btn"
                                        onclick="checkAnswer('q-<%= i %>')">Answer</button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <button id="submit-test-btn" class="btn btn-primary mt-3" onclick="">Submit</button>
            <div class="mb-4">
                <p>Time remaining: <span id="timer-2" class="clock">00:00</span></p>
            </div>
        </main>
            <hr>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="/dashboard" class="btn btn-light">Go back to dashboard</a>
            </div> 
            <br><br>
            <%- include('layout/modal.ejs'); %>
            <%- include('layout/footer.ejs'); %>
            <!-- Link to JavaScript file -->
            <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
            <script src="../javascripts/topicScript.js" type="text/javascript"></script>
            <script src="../javascripts/testScript.js" type="text/javascript"></script>
            <script src="../javascripts/recordtestScript.js" type="text/javascript"></script>
            <script>
                const username = "<%= username %>"; // Retrieve username from EJS template
                recordtestScript.initialise(username); // Pass username to your client-side script
            </script>
            
        </body>

        </html>